version: '3'

# docker-compose up -d

services:
  reverse-proxy:
    image: traefik # The official Traefik docker image
    command: --api --docker # Enables the web UI and tells Traefik to listen to docker
    restart: always
    network_mode: bridge
    ports:
      - "80:80"     # The HTTP port
      - "8080:8080" # The Web UI (enabled by --api)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
    container_name: traefik

  portainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    restart: always
    network_mode: bridge
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      - "traefik.frontend.rule=PathPrefixStrip:/portainer"
      - "traefik.backend=portainer"
      - "traefik.port=9000"
      - "traefik.weight=10"
      - "traefik.enable=true"
      - "traefik.passHostHeader=true"
      #- "traefik.docker.network=ntw_front"
      - "traefik.frontend.entryPoints=http"
      #- "traefik.backend.loadbalancer.swarm=true"
      #- "traefik.backend.loadbalancer.method=drr"
      # https://github.com/containous/traefik/issues/563#issuecomment-421360934
      - "traefik.frontend.redirect.regex=^(.*)/portainer$$"
      - "traefik.frontend.redirect.replacement=$$1/portainer/"
      - "traefik.frontend.rule=PathPrefix:/portainer;ReplacePathRegex: ^/portainer/(.*) /$$1"    
    container_name: portainer

  #docker run --restart=always --name guacd -d guacamole/guacd
   #docker run --restart=always --name guacamole  --link mysql:mysql --link guacd:guacd -e MYSQL_HOSTNAME=127.0.0.1 -e MYSQL_DATABASE=guacamole_db -e MYSQL_USER=guacamole_user -e MYSQL_PASSWORD=$guacdbuserpassword --detach -p 8090:8080 guacamole/guacamole
  
  guacd:
    image: guacamole/guacd
    restart: always
    network_mode: bridge
    
  guacamole:
    image: guacamole/guacamole
    restart: always
    depends_on:
      - guacd
      - mysql
    network_mode: bridge
    ports:
      - 8090:8080
    links:
       - mysql
       - guacd
       
    environment:
      GUACD_HOSTNAME: guacd
      MYSQL_HOSTNAME: mysql
      MYSQL_DATABASE: guacamole_db
      MYSQL_USER: guacamole_user
      MYSQL_PASSWORD:
   
  # export MYSQL_ROOT_PASSWORD=secure_database_password  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD:
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    network_mode: bridge
    ports:
      - 3306:3306
    #networks:
    #  - internal
    labels:
      - traefik.enable=false
    container_name: mysql

volumes:
  portainer_data:
  mysql_data:


