version: '3'

# docker-compose up -d

services:
  reverse-proxy:
    image: traefik # The official Traefik docker image
    command: --api --docker # Enables the web UI and tells Traefik to listen to docker
    restart: always

    ports:
      - "80:80"     # The HTTP port
      - "8080:8080" # The Web UI (enabled by --api)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
    container_name: traefik

  portainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    restart: always
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      - "traefik.frontend.rule=PathPrefixStrip:/portainer"
      - "traefik.backend=portainer"
      - "traefik.port=9000"
      - "traefik.weight=10"
      - "traefik.enable=true"
      - "traefik.passHostHeader=true"
      #- "traefik.docker.network=ntw_front"
      - "traefik.frontend.entryPoints=http"
      #- "traefik.backend.loadbalancer.swarm=true"
      #- "traefik.backend.loadbalancer.method=drr"
      # https://github.com/containous/traefik/issues/563#issuecomment-421360934
      - "traefik.frontend.redirect.regex=^(.*)/portainer$$"
      - "traefik.frontend.redirect.replacement=$$1/portainer/"
      - "traefik.frontend.rule=PathPrefix:/portainer;ReplacePathRegex: ^/portainer/(.*) /$$1"    
    container_name: portainer


  # export MYSQL_ROOT_PASSWORD=secure_database_password  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD:{$MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    ports:
      - 3306:3306
    #networks:
    #  - internal
    labels:
      - traefik.enable=false
    container_name: mysql

volumes:
  portainer_data:
  mysql_data:

networks:
  web:
    external: true
  internal:
    external: false
